.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 8px;
}
.food-diasplay-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap: 30px;
    row-gap: 50px;


}